{% render 'partials/head.liquid', title: 'Prikbord' %}

{% render 'partials/head.liquid' %}
<body class="body-project">

<header class="header-project">
  <a href="/" class="terug">terug</a>
  <h1>"Help Ons Groener Worden!"</h1>
  <p>
    Wil jij bijdragen aan een groener, gezonder en gezelliger Amsterdam Oost? 
    Dit is de plek waar jij jouw ideeën en suggesties kunt delen voor nieuwe groene initiatieven in de buurt. 
    Of het nu gaat om geveltuinen, buurttuintjes, groene speelplekken of iets heel anders—jouw input maakt het verschil! 
    Laat ons weten wat jij zou willen zien en laten we samen onze buurt laten bloeien.
  </p>
      <img class="status-img" id="status-img" src="/assets/coole-harry.png" alt="">
  </header>

{% if uiState == "success"  %}
  <section class="alert-success">
    <p>je hebt jou project succesvol gepost</p>
    <img class="jarige-harry" id="jarige-harry" src="/assets/jarige-harry.png" alt="">
  </section>
{% endif %}

  {% if uiState == "error" %}
    <section class="alert-error">
       <p>Er is een fout opgetreden bij het posten van je project.</p>
       <img class="sad-harry" id="sad-harry" src="/assets/sad-harry.png" alt="">
    </section>
  {% endif %}
<section class="main-project">
  {% if uiState == "deleted" %}
    <section class="alert-success">
      Je project is succesvol verwijderd!
      <img class="jarige-harry" id="jarige-harry" src="/assets/jarige-harry.png" alt="">
    </section>
  {% endif %}
<section class="projecten">
    <section class="project-cards">
{% if projects %}
  
  <ul>
    {% for project in projects %}
      <li class="project-card">
        
        <section class="project-inhoud">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
        </section>
  

        <section class="contact-gegevens">
          <p class="project-name"><strong>Naam:</strong> {{ project.name }}</p>
          <p class="project-email"><strong>Email:</strong> {{ project.email }}</p>
        </section>
  
        <form action="/delete-project" method="POST" class="verwijder-form">
          <input type="hidden" name="id" value="{{ project.id }}">
          <button type="submit" class="verwijder-knop">Verwijder</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  
  </section>
</section>
{% else %}
  <p>Er zijn nog geen projecten gepost.</p>
{% endif %}

<section class="project-toevoegen">
<h2>DOE OOK MEE ! </h2>
<section class="invul-form">
<p> Wil je een idee of project delen? Vul het formulier
     hieronder in en laat ons weten wat jij in gedachten hebt!
</p>
<form action="/project" method="POST">
  <label for="title">Titel</label>
  <input type="text" name="title"  maxlength="23" placeholder= " Verzin een bijpassende titel (max 23 tekens)" required>
  
  <label for="description">Beschrijving</label>
  <textarea name="description" id="description" maxlength="500" placeholder= " Geef een korte beschrijving (max 500 tekens)" required></textarea>
  
  <label for="name">naam</label>
  <input type="text" name="name" id="name" required>

  <label for="email">E-mail</label>
  <input type="email" id="email" name="email" required>
  
  <button type="submit">Verstuur Project</button>
</form>
</section>
</section>
</section>

{% render 'partials/foot.liquid' %}